@model RecipeViewModel

@{
    ViewBag.Title = "AddRecipeToList";
}

@section Scripts {

    <script src="~/node_modules/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/node_modules/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.min.js"></script>
}

    <h2>Lägg till Recept</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddRecipeToList">
            <input type="hidden" asp-for="RecipeId" />
            <div class="form-group">
                <label class="control-label"><b>Inköpslista</b></label>
                <select asp-for="ShopListId" class="form-control" asp-items="ViewBag.ShopListId"></select>
                <span class="text-danger">@ViewBag.ErrorMessage</span>
            </div>
            <div class="form-group">
                <input type="submit" value="Spara" class="btn btn-outline-dark" />
            </div>
        </form>

    </div>
</div>
<div>
    <a asp-action="Index" class="btn btn-outline-dark">Tillbaka till lista</a>
</div>

